<form [formGroup]="registrationForm" >
     <!-- for both -->
    <div>
      <label><input type="radio" formControlName="userType" value="client"> Client </label>
      <label><input type="radio" formControlName="userType" value="agency"> Agency </label>
    </div>
  
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email">
      <div *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
        Email is required and must be a valid email address.
      </div>
    </div>
    
    <div>
        <label>Username:</label>
        <input type="text" formControlName="username">
        <div *ngIf="registrationForm.get('username').invalid && registrationForm.get('username').touched">
            Username is required and must be unique.
        </div>
    </div>

    <div>
         <label>Password:</label>
        <input type="password" formControlName="password">
        <div *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
            Password is required and should be 7 to 12 characters long, starting with a letter, and contain at least one uppercase letter, one lowercase letter, one digit, and one special character (@, $, !, %, *, ?, &).
        </div>
    </div>
    
    <div>
        <label>Confirm Password:</label>
        <input type="password" formControlName="confirmPassword">
        <div *ngIf="registrationForm.hasError('passwordMismatch') && registrationForm.get('confirmPassword').touched">
            Passwords do not match.
        </div>
    </div>


    <div>
        <label for="profilePicture">Profile Picture:</label>
        <input type="file" id="profilePicture" accept=".jpg, .png" formControlName="profilePicture" (change)="onFileChange($event)">
        <div>
            {{dimensionErrorMassage}}
        </div>
    </div>



    <!-- only client -->
    <div *ngIf="registrationForm.get('userType').value === 'client'">
        <div>
            <label>First Name:</label>
            <input type="text" formControlName="firstname">
            <div *ngIf="registrationForm.get('firstname').invalid && registrationForm.get('firstname').touched">
                First Name is required.
            </div>
        </div>
  
        <div>
            <label>Last Name:</label>
            <input type="text" formControlName="lastname">
            <div *ngIf="registrationForm.get('lastname').invalid && registrationForm.get('lastname').touched">
                Last Name is required.
            </div>
        </div>

        <div>
            <label>Phone Number:</label>
            <input type="text" formControlName="phoneNumber">
            <div *ngIf="registrationForm.get('phoneNumber').invalid && registrationForm.get('phoneNumber').touched">
                Phone Number is required.
            </div>
        </div>
    </div>
  
     <!-- only agency -->
    <div *ngIf="registrationForm.get('userType').value === 'agency'">
        <div>
            <label>Agency Name:</label>
            <input type="text" formControlName="agencyName">
            <div *ngIf="registrationForm.get('agencyName').invalid && registrationForm.get('agencyName').touched">
                Agency Name is required.
            </div>
        </div>

        <div>
            <label>Agency Adress:</label>
            <input type="text" formControlName="agencyAdress">
            <div *ngIf="registrationForm.get('agencyAdress').invalid && registrationForm.get('agencyAdress').touched">
                Agency Adress is required.
            </div>
        </div>

        <div>
            <label>Tax ID Number:</label>
            <input type="text" formControlName="tid">
            <div *ngIf="registrationForm.get('tid').invalid && registrationForm.get('tid').touched">
                Tax ID Number is required.
            </div>
        </div>

        <div>
            <label>Agency description:</label>
            <input type="text" formControlName="description">
            <div *ngIf="registrationForm.get('description').invalid && registrationForm.get('description').touched">
                Agency description is required.
            </div>
        </div>

    </div>
  

    <button type="submit" [disabled]="registrationForm.invalid || dimensionErrorFlag" (click)="register()" id="registerButton">Register</button>
</form>

<hr>
  {{registrationForm.get('password').value}}
<br>  
{{base64ContentType}}

<br>
<br>
{{base64Data}}