<div class="profile-container">
    <div class="image-container">
        <img [src]="'data:' + profilePicture?.contentType + ';base64, ' + profilePicture?.data" alt="slika" height="100" width="100">
        <label for="profilePicture">Profile Picture:</label>

        <div *ngIf ="dimensionErrorFlag" class="error-message">
            {{dimensionErrorMassage}}
        </div>
    </div >
    Choose new picure:<input type="file" id="profilePicture" accept=".jpg, .png" (change)="onFileChange($event)">
    
    <div class="user-details">
        <input type="text" value="{{username}}" disabled/>
        <input type="text" value="{{email}}" disabled/>
    </div>

    <div class="edit-details">
        <div>
            <label for="agencyName">Agency Name</label>
            <input id="agencyName" type="text" [(ngModel)]="agencyName"/>
        </div>
        <div>
            <label for="agencyAdress">Agency Adress</label>
            <input id="agencyAdress" type="text" [(ngModel)]="agencyAdress"/>
        </div>
        <div>
            <label for="tid">TID</label>
            <input id="tid" type="text" [(ngModel)]="tid"/>
        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="description" type="text" [(ngModel)]="description"></textarea>
        </div>
        <div>
            <button (click)="updateDetails()">Update Details</button>
            <button [routerLink]="['/changePassword']">Change Password</button>
        </div>
    </div>
</div>