<div class="container">
    <div class="row" *ngFor="let place of clientPlaces">
      <div class="col-sm place-card">
        <h2>{{place.type}}</h2>
        <div class="place-details">
          <strong> Address:</strong> {{place.address}}, 
          <strong> Number of Rooms:</strong> {{place.numberOfRooms}},
          <strong> Area:</strong> {{place.area}}
        </div>
        <div class="place-actions">
          <a class="btn btn-primary" routerLink="/placeDetails/{{place._id}}">More Details</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="row" *ngIf="clientPlaces.length === 0">
      <div class="col-sm">
        <h5>No places found.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <button class="btn btn-primary" routerLink="/addPlace">Add Place</button>
      </div>
    </div>
</div>