<header>
    <div class="logo"> <a [routerLink]="['/']"> Logo </a></div>

    <div class="user-menu" *ngIf="isLoggedIn | async">
        <div class="username">{{ username }}</div>
        <button (click)="logout()">Logout</button>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a *ngIf="userRole === 'client'" [routerLink]="['/clientProfile', username]">Profile</a>
                <a *ngIf="userRole === 'client'" [routerLink]="['/clientPlaces', username]">MyPlaces</a>
                <a *ngIf="userRole === 'client'" routerLink="/jobs">Jobs</a>
            
                <a *ngIf="userRole === 'agency'" [routerLink]="['/agencyProfile', username]">Profile</a>
                <a *ngIf="userRole === 'agency'" [routerLink]="['/agencyWorkers']">Workers</a>
                <a *ngIf="userRole === 'agency'" routerLink="/jobs">Jobs</a>
            </div>
        </div>
    </div>  
    <div class="user-menu" *ngIf="!(isLoggedIn | async)">
        <a routerLink="loginUser">Login!</a> &nbsp; &nbsp; 
        <a routerLink="registration">Register!</a>
    </div>
</header>