<div class="password-card">
    <form class="password-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <h2>Change Password</h2>
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <input id="oldPassword" name="oldPassword" type="password" formControlName="oldPassword" required/>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input id="newPassword" name="newPassword" type="password" formControlName="newPassword" required />

            <div *ngIf="changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched)">
                <div *ngIf="changePasswordForm.get('newPassword').errors['pattern']" class="error-message">
                    Password is required and should be 7 to 12 characters long, starting with a letter, and contain at least one uppercase letter, one lowercase letter, one digit, and one special character (@, $, !, %, *, ?, &).
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm New Password:</label>
            <input id="confirmPassword" name="confirmPassword" type="password" formControlName="confirmPassword" required />
            <!-- bespotrebno ovo 
            <div *ngIf="changePasswordForm.get('confirmPassword').invalid && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched)">
                <div *ngIf="changePasswordForm.get('confirmPassword').errors['pattern']" class="error-message">
                    Password is required and should be 7 to 12 characters long, starting with a letter, and contain at least one uppercase letter, one lowercase letter, one digit, and one special character (@, $, !, %, *, ?, &).
                </div>
            </div>
            -->
        </div>
        <button class="submit-btn" type="submit" >Change Password</button>
    </form>
</div>